/*common shared styles*/

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.text-primary {
    color: #E55473;;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
}

/* nav related styles*/
nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: black;
    font-size: 45px;
    font: weight 800;
}
nav > ul{
    display: flex;
    align-items: center;
    margin: 0 240px ;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
/*header related styles*/
.header{
    background-color:rgba(229, 84, 115, 0.1)
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.banner .profile-pic{
    width: 635px;
    height: 800px;

}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20;
}
.banner-description{
    font-size: 18px;
    font-weight: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #272727;

}
/*main section styles*/
/*our featured flower*/
.our-feature {
    font-size: 40px;
    font-weight: 40px;
    margin: 130px 0;
}
